@import 'jeet'

.footer
  clear: both;
  background: #000000;
  width:100%;
  position: relative;
  bottom:0;
  top: 155px
  left:0;
  .footer-container
    color white
    center(50%)
    .info
      color white
      center(50%)
      font 10px LucidaGrande
      .social
        display inline-block
        color white
      .green-color
        color #219670
      .tos
        padding-left 25px
        color white
        margin-top 20px
  li
    float:left
    list-style: none
    margin-left: 25px
  ul
    padding-left 0
