@import 'jeet'
$header-height = 120

.header
  background: #000000
  height $header-height px
  position: fixed
  width: 100%
  top: 0px

.prettify
  color: white

.logo
  float: left

li
  font 18px HelveticaNeue
  line-height ($header-height/2)px
  float:left
  list-style: none
  margin-left: 50px

.nav
  float: right

.content
  position relative
  top 155px
a
  text-decoration: none
  color: #219670
