@import 'jeet'



ex-box-showdow()
  -webkit-box-shadow: arguments
  -moz-box-shadow: arguments
  box-shadow: arguments

body
  width: 100%
  margin: auto

.container
  width: 1170px
  margin: 0 auto

.item
  column(1/4, cycle: 4)
  display: inline-block;
  height: 200px
  width: 264px
  border: 1px
  margin-bottom: 10px
  ex-box-showdow 1px 1px 1.5px 1px rgba(0,0,0,0.13)
  transition all ease 0.3s
  &:hover
   ex-box-showdow 5px 5px 2px 1px rgba(0,0,0,0.13)
   background-color green

.name
  color: black
  font-size: 15px

.capacity
  @extend .name

.date
  @extend .name
